@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutNutri.cshtml";
}

<div class="jumbotron">
    <h1>Projeto Nutris</h1>
    <p class="lead">Bem vindo @HttpContext.Current.User.Identity.Name</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Planos Alimentares</h2>
        <p>
            Cadastro de Planos Alimentares e sua atribuição à Pacientes.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index","PlanoAlimentar")'>Planos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>